.container {
    background-color: skyblue;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.container input {
    width: 250px;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid black;
    display: block;
}

.container label {
    display: block;
}

.container input[type="submit"]:hover {
    background-color: blue;
}