.body-background {
    padding: 20px;
    width: 350px;
    background-color: rgb(246, 54, 54);
    margin: 10% auto;
    color: white;
    border-radius: 10px
}

.heading-cls {
    margin-bottom: 15px;
    font-size: 140%;
}

.input-box {
    width: 100%;
    border-radius: 10px;
    border: 2px solid white;
    padding: 8px;
    margin: 10px 0;
    outline: none;
}

.btn-submit {
    width: 100%;
    color: rgb(5, 5, 5);
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;
    padding: 8px;
    margin: 10px 0;
    outline: none;
}

.btn-submit:hover {
    background-color: rgb(54, 246, 246);
    color: rgb(255, 3, 3);
    font-weight: 500;
    outline: none;
}

.login-para a {
    color: white;
    text-decoration: none;
}

.login-para a:hover {
    color: black;
}